<div class="page">
  <mat-card class="card">
    <div class="header">
      <div class="group">
        YOUR GROUP
      </div>
      <mat-divider></mat-divider>
      <div class="code">
        SECRET CODE:
        <div class="num">
          {{group.passcode}}
        </div>
      </div>
      <div class="desc">
        Tell your friends to enter this code to join your group!
      </div>
      <div class="wait">
        Waiting for people to join...
      </div>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <br>

    <div class="group">
      <div class="host">
        <mat-icon>star</mat-icon>
        Host: {{group.host}} (You)
      </div>

      <div class ="usernames">
        <div *ngFor="let user of group.users">
          <div class="user">
            <mat-icon>person</mat-icon>
            {{ user }}
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button mat-raised-button style="font-size:20px;height: 50px;width:100px" color="primary" (click)="leaveAdmin()" *ngIf="isHost; else notAdmin">LEAVE</button>
      <ng-template #notAdmin><button mat-raised-button style="font-size:20px;height: 50px;width:100px" color="primary" (click)="leave()" *ngIf="!isHost">LEAVE</button></ng-template>

      <button mat-raised-button style="font-size:20px;height: 50px;width:100px" color="primary" (click)="start()" *ngIf="isHost">START</button>
    </div>


  </mat-card>
</div>



