<mat-toolbar>
  <button mat-button color="primary">Home</button>
  <button mat-button color="primary" (click)="logout()">Logout</button>
</mat-toolbar>

<div class="text">
  ChickenTinder
</div>

<img src="https://media4.s-nbcnews.com/j/newscms/2020_09/1543282/chicken-fingers-today-main-200227_c73e99947f638328a263407fb90a9dc8.today-inline-small2x.jpg" class="image">
<div class="buttons">
<div class="join-button">
  <button mat-raised-button style="font-size:40px;height: 200px;width:400px" color="primary" (click)="joinGroup()">JOIN A GROUP</button>
</div>
<div class="create-button">
  <button mat-raised-button style="font-size:40px;height: 200px;width:400px" color="primary" (click)="createGroup()">CREATE A GROUP</button>
</div>
</div>
