<div class="page">
  <mat-card class="card">
    <div class="image">
      <img src="{{image}}" width="400" height="400" style="padding: 20px;">
      <div class="buttons">
        <button mat-raised-button color="primary" (click)="clickLeft()" [disabled]="!canClickLeft()">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="clickRight()" [disabled]="!canClickRight()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>

    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="text">
        <div class="info">
          {{info.name}}
          <div class="loc">
            <mat-icon>place</mat-icon>
            {{info.location.city}}, {{info.location.state}}
          </div>
        </div>
        <div class="desc">
          <div class="rating">
            <p>{{info.rating}}</p>
            <div *ngFor="let num of stars">
              <mat-icon>star</mat-icon>
            </div>
            <div *ngFor="let num of halfstars">
              <mat-icon>star_half</mat-icon>
            </div>
            <div *ngFor="let num of empty">
              <mat-icon>star_outline</mat-icon>
            </div>
            ({{info.review_count}})   -   {{info.price}}   -   {{info.categories[0].title}}
          </div>
          {{info.location.display_address}}
          <div class="phone">
            <mat-icon>phone</mat-icon>
            {{info.display_phone}}
          </div>
          <div *ngIf="isClosed()">
            <p style="color:green">Open</p>
          </div>
          <div *ngIf="!isClosed()">
            <p style="color:red">Closed</p>
          </div>
        </div>
    </div>
  </mat-card>


</div>
