
<div class="secret">
  <div class="code">
    SECRET CODE:
    <div class="num">
      {{passcode}}
    </div>
  </div>
  <div class="desc">
    Tell your friends to enter this code to join your group!
  </div>
</div>

<p>{{greatestRestaurant}} is winning with {{greatestVotes}} out of {{numberOfUsers}}</p>

<app-restaurant [id]="restaurantId"></app-restaurant>



<div *ngFor="let vote of votes">
  id: {{ vote.id }} | name: {{ vote.name}} | numVotes: {{ vote.numVotes }}
</div>

<button mat-raised-button style="font-size:20px;height: 50px;width:100px" color="primary" (click)="like()">Like</button>

<button mat-raised-button style="font-size:20px;height: 50px;width:100px" color="primary" (click)="dislike()">Dislike</button>
