.num {
  display: flex;
  font-size: 40px;
  font-family: Impact;
  background-color: white;
  color: blue;
  padding-top: 20px;
  letter-spacing: 5px;
  text-align: center;
  align-items: center;
}

.code {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  font-family: Impact;
  padding: 20px;
  align-items: center;
}
.desc {
  display: flex;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 10pt;
  text-align: center;
  padding-left: 20px;
  align-items: center;
}

.secret {
  display: flex;
  flex-direction: column;
  width: 15%;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}

.results {
  text-align: center;
}
.mat-raised-button.mat-green {
  color: white;
  background-color: green;
}
.mat-raised-button.mat-red {
  color: white;
  background-color: red;
}
.buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: row;
}
