<mat-toolbar>
  <button mat-button color="primary" (click)="leaveAdmin()" *ngIf="isHost; else notAdmin">Leave group</button>
  <ng-template #notAdmin><button mat-button color="primary" (click)="leave()" *ngIf="!isHost">Leave group</button></ng-template>

  <button mat-button color="primary" (click)="logoutAdmin()" *ngIf="isHost; else notAdmin2">Logout</button>
  <ng-template #notAdmin2><button mat-button color="primary" (click)="logout()" *ngIf="!isHost">Logout</button></ng-template>
</mat-toolbar>

<div class="center">
  <div class="secret">
    <div class="code">
      SECRET CODE:
      <div class="num">
        {{passcode}}
      </div>
    </div>
    <div class="desc">
      Tell your friends to enter this code to join your group!
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<app-restaurant [id]="restaurantId"></app-restaurant>
<!--
<div class="results">
  <h1> Results: </h1>
  {{greatestRestaurant}} is winning with {{greatestVotes}} out of {{numberOfUsers}}
</div>
-->
<div class="buttons">
  <button mat-raised-button color="green" [disabled]="lastRestaurant" (click)="like()" style="margin-right: 5px;">
    <mat-icon>thumb_up</mat-icon>
  </button>
  <button mat-raised-button color="red" [disabled]="lastRestaurant" (click)="dislike()" style="margin-left: 5px;">
    <mat-icon>thumb_down</mat-icon>
  </button>
</div>
