<div class="center">
  <div class="secret">
    <div class="code">
      SECRET CODE:
      <div class="num">
        {{passcode}}
      </div>
    </div>
    <div class="desc">
      Tell your friends to enter this code to join your group!
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<app-restaurant [id]="restaurantId"></app-restaurant>
<!--
<div class="results">
  <h1> Results: </h1>
  {{greatestRestaurant}} is winning with {{greatestVotes}} out of {{numberOfUsers}}
</div>
-->
<div class="buttons">
  <button mat-raised-button color="green" (click)="like()" style="margin-right: 5px;">
    <mat-icon>thumb_up</mat-icon>
  </button>
  <button mat-raised-button color="red" (click)="dislike()" style="margin-left: 5px;">
    <mat-icon>thumb_down</mat-icon>
  </button>
</div>
